<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Open Weather Map Angular Application</title>
	<!-- CSS Files -->
	<link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>

	<div ng-app="openWeatherApp" ng-controller="OWAController" ng-cloak "ng-init="unit=metric""> 
     <div class="jumbotron text-center">
       <h1>Open Weather Map Application</h1> 
     </div>
     <div class="container">
		 <form class="form-horizontal"  ng-submit="submit()">
       <div class="form-group">
      <label class="control-label col-sm-2" for="city">City :</label>
      <div class="col-sm-10">
        <input type="input" ng-model="city" class="form-control" id="city" placeholder="Enter City " name="city" required >
      </div>
    </div>
     <div class="form-group" >        
      <div class="col-sm-offset-2 col-sm-10">
        <div class="radio">
          <label><input type="radio" name = "metric" ng-model="unit.name" value="metric" checked> Metric</label>
        </div>
      </div>
       <div class="col-sm-offset-2 col-sm-10">
        <div class="radio">
          <label><input type="radio" name = "imperial" ng-model="unit.name" value="imperial" > Imperial</label>
        </div>
      </div>

    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-danger" type="submit" class="btn btn-default">Get Weather </button>
      </div>
    </div>

    </form>
  		<table border="1" ng-show="hideTable" class="table table-hover">
  			<th>
  				<a href="#" ng-click="orderByField='city'; reverseSort = !reverseSort"> City
  					<span ng-show="orderByField == 'city'">
	  					<span ng-show="!reverseSort">^</span>
	  					<span ng-show="reverseSort">v</span>
  					</span>
          </a>
        </th>
  			<th> 
  				<a href="#" ng-click="orderByField='temperature'; reverseSort = !reverseSort"> Temperature
  					<span ng-show="orderByField == 'temperature'">
	  					<span ng-show="!reverseSort">^</span>
	  					<span ng-show="reverseSort">v</span>
  					</span>
          </a>
        </th>
  			<th> 
  				<a href="#" ng-click="orderByField='wind'; reverseSort = !reverseSort"> Wind Speed
  					<span ng-show="orderByField == 'wind'">
	  					<span ng-show="!reverseSort">^</span>
	  					<span ng-show="reverseSort">v</span>
  					</span>
          </a>
        </th>
  			<th> 
  				<a href="#" ng-click="orderByField='cloud'; reverseSort = !reverseSort"> Cloud 
  					<span ng-show="orderByField == 'cloud'">
	  					<span ng-show="!reverseSort">^</span>
	  					<span ng-show="reverseSort">v</span>
  					</span>
          </a> 
        </th>
  			<th> 
  				<a href="#" ng-click="orderByField='sunrise'; reverseSort = !reverseSort"> Sun Rise
  					<span ng-show="orderByField == 'sunrise'">
	  					<span ng-show="!reverseSort">^</span>
	  					<span ng-show="reverseSort">v</span>
  					</span>
          </a>
        </th>
  			<th>
  				<a href="#" ng-click="orderByField='sunset'; reverseSort = !reverseSort"> Sun Set
  					<span ng-show="orderByField == 'sunset'">
	  					<span ng-show="!reverseSort">^</span>
	  					<span ng-show="reverseSort">v</span>
  					</span>
          </a>
        </th>
			<tr ng-repeat="details in weatherDetailsOfAllCities |orderBy:orderByField:reverseSort ">
				<td>{{details.city }}  , {{details.country}}</td>
				<td>{{details.temperature | formatTemperatureFilter : unit.name }}</td>
				<td>{{details.wind | formatWindFilter : unit.name }}</td>
				<td>{{details.cloud | capitalize }}</td>
				<td>{{details.sunrise}}</td>
				<td>{{details.sunset}}</td>
			</tr>
		</table>
	</div>
  </div>

	</div>
	 <!-- JS Files -->
	<script src="./node_modules/angular/angular.min.js"></script>
	<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="./node_modules/moment/min/moment.min.js"></script>
	<script src="app.js"></script>
	
</body>
</html>